/* These styles are used in the backend editor AND in the Theme (frontend) */

/* CSS is provided by the theme itself, and modified by any custom css you add to the theme. */
/* But that CSS is not active when using the backend-editor, so here is a good place to put  */
/* any custom css which should be active in the frontend website and also applied to editor. */
/* The goal is to make the visual editor display as like the final frontend view as possible */
/* so do not forget to configure the TinyMCE styles dropdown with elements to match these.   */

/* Suggested general non-tag-specific visual styles (for all websites) */

.list       { margin: 0.35rem 0; }
.stdtop     { margin-top: 0.65rem !important; }
.moretop    { margin-top: 0.8rem  !important; }
.lotstop    { margin-top: 1rem    !important; }
.hugetop    { margin-top: 1.3rem  !important; }
.stdbottom  { margin-bottom: 0.65rem !important; }
.morebottom { margin-bottom: 0.8rem  !important; }
.lotsbottom { margin-bottom: 1rem    !important; }
.hugebottom { margin-bottom: 1.3rem  !important; }

.topless    { margin-top: 0 !important; }
.bottomless { margin-bottom: 0 !important; }

.beforelist { margin-bottom: 0.3rem; }

.lastitempx { padding-bottom: 12px !important; }
.lastitemem { margin-bottom: 0; padding-bottom: 1.3rem; }

strong, .strong, .fett, .bold, .smallBold, .smallerBold { font-weight: bold; }

/* Revert to normal text within strong */
.notstrong { font-weight: normal; }

.smaller, .smallerBold { font-size: 0.95rem; line-height: 1.25; }

.small, .smallBold { font-size: 0.89rem; line-height: 1.2; }

/* Append your site-specific styles here */

.mce-content-body *{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size:36px;
}

p,
ul li{
	font-size:20px;
	line-height:1.5em;
	color:rgba(111,118,123,1);
}

p{
	margin:20px 0px 20px 0px
}

h1,h2,h3{
	margin-bottom:15px;
	color:#000;
}

h3{
	margin-bottom:15px;
}

h1,h2,h3{
	font-weight: bold;
}

h2{
	font-size:28px;
	color:#6cbd45;
}

h3{
	font-size:22px;
}

h4{
	font-size:18px;
}

h5{
	font-size:16px;
	color:#6cbd45;
}

.highlight-bg-1{
	background:#6cbd45;
}

.highlight-bg-2{
	background:#e5ebea;
}

.highlight-bg-3{
	background:#00afed;
}

.highlight-bg-1:after,
.highlight-bg-2:after{
	display:block;
	clear:both;
	content:""
}

.highlight-bg-1,
.highlight-bg-2{
	padding:40px 60px;
	clear:both;
}

.highlight-bg-1 .wp-caption img,
.highlight-bg-1 img {
    max-width: 100%;
    height: auto;
}

@media(min-width:768px){

	.highlight-bg-1 .wp-caption,
	.highlight-bg-1 img{
	    max-width: 40%!important;
	}

	.highlight-bg-1 .wp-caption img{
		max-width: 100%!important;
	}
}

@media(max-width:767px){
	.highlight-bg-1 .wp-caption,
	.highlight-bg-1 img{
	    max-width: 100%!important;
	}

}

.highlight-bg-1,
.highlight-bg-1 *,
.highlight-bg-3,
.highlight-bg-3 *{
	color:#FFF;
}


